*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    height: 100vh;
    background-color: palegoldenrod;
    margin: 0 auto;
}
.gallery-name{
    font-size: 46px;
    text-align: center;
    margin-bottom: 28px;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
}
.gallery__item{
    width: 250px;
}
